body{
    width: 100vw;
    height: 100vh;
    background: url(Marx\,\ o\ nosso\ heroí.jpg);
    background-size: cover;
}
*{
    padding:0;
    margin:0;
}
.inicio{
    background-color: red;
    height: 100px;
    align-items: center;
    background-color: #a90000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-sizing: border-box;
    color: white;
    display: flex;
    justify-content: space-between;
    left: 0;
    margin: 0;
    padding: 25px 70px 25px 70px;
    text-transform: uppercase;
    top: 0;
    width: 100%;
    list-style: none;
}
.final{
    height: 10%;
    background-color: black;
    position: sticky;
    bottom: 0;
    width: 100%;
}
